In [1]:
from rata.marketon import get_data
import pandas as pd
import datetime as dt
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['rata']
collection = db['rates']

In [2]:
df = get_data.get_finnhub('EURUSD', '5', forex=True, crypto=False, hours=24)
df.index = df.index.to_series().apply(dt.datetime.isoformat)
df.reset_index(inplace=True)
df_dict = df.to_dict(orient='records')

https://finnhub.io/api/v1/forex/candle?symbol=OANDA:EUR_USD&resolution=5&from=1631550345&to=1631636745&token=boq33onrh5rdr1qtpl3g
data_status, ok
min_rates, 25
min_now, 25

In [3]:
from pymongo import UpdateOne
for r in df_dict:
    collection.update_one(r, {'$set': r}, upsert=True)

In [4]:
mydoc = collection.find({'symbol': 'EURUSD'})
df = pd.DataFrame(mydoc)

In [5]:
df
#proando

,_id,close,high,interval,low,open,status,symbol,tstamp,unix_tstamp,volume
0,6140bc69899a3d8d17f65b0f,1.18225,1.18225,5,1.18188,1.18221,ok,EURUSD,2021-09-14T14:10:00,1631628600,502
1,6140bc69899a3d8d17f65b11,1.18218,1.18249,5,1.18217,1.18225,ok,EURUSD,2021-09-14T14:15:00,1631628900,617
2,6140bc69899a3d8d17f65b13,1.18209,1.18228,5,1.18206,1.18219,ok,EURUSD,2021-09-14T14:20:00,1631629200,498
3,6140bc69899a3d8d17f65b15,1.18181,1.18217,5,1.18151,1.18208,ok,EURUSD,2021-09-14T14:25:00,1631629500,828
4,6140bc69899a3d8d17f65b17,1.18157,1.18187,5,1.18153,1.18182,ok,EURUSD,2021-09-14T14:30:00,1631629800,534
...,...,...,...,...,...,...,...,...,...,...,...
286,6140caee899a3d8d17f66279,1.18216,1.18268,5,1.18191,1.18268,ok,EURUSD,2021-09-14T14:00:00,1631628000,1011
287,6140caee899a3d8d17f6627b,1.18223,1.18245,5,1.18205,1.18215,ok,EURUSD,2021-09-14T14:05:00,1631628300,579
288,6140caee899a3d8d17f66296,1.18249,1.18256,5,1.18240,1.18250,ok,EURUSD,2021-09-14T16:15:00,1631636100,58
289,6140cd0a899a3d8d17f66477,1.18250,1.18256,5,1.18240,1.18250,ok,EURUSD,2021-09-14T16:15:00,1631636100,189
290,6140cd0a899a3d8d17f66479,1.18253,1.18260,5,1.18249,1.18252,ok,EURUSD,2021-09-14T16:20:00,1631636400,131